@font-face {
    font-family: 'Gill-light';
    src: url(../fonts/Gill-sans-light.ttf);
}
@font-face {
    font-family: 'Gill-Regular';
    src: url(../fonts/Gill-Sans-Regular.ttf);
}
a,
.btn:focus, 
 .btn:active:focus, 
 .btn.active:focus,
 .btn.focus,
 .btn:active.focus,
  .btn.active.focus {
        outline: none;
        box-shadow:none;
    }
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Gill-light';
    padding: 0;
}
.PVM_Top{
    border-bottom: 1px solid #8B6E4A;
}
.PVM_Header_logo{
    text-align: center;
    margin: 22px 0;
}
.PVM_Header_logo img{
    width: 130px;
    height: auto;
}
.PVM_Header_Menu ul{
    display: flex;
    justify-content:space-between;
    width: 100%;
    padding: 0;
    margin: 0;
}
.PVM_Header_Menu ul li{
    list-style: none;
    margin: 0 0 22px 0;
    height: 24px;
    line-height: 24px;
}
.PVM_Header_Menu ul li a{
    font-size: 18px;
    font-weight: 300;
    color: #8d704c;
    text-transform: uppercase;
    text-decoration: none;
}
.PVM_Header_Menu ul li:hover{
    border-bottom: 1px solid #8d704c;
    padding-bottom: 2px;
}
.PVM_Banner img{
    width: 100%;
}

.PVM_Header_right{
    position: absolute;
    right: 48px;
    top: 78px;
}
.PVM_Header_right .dropdown{
    display: inline-block;
    margin-right: 20px;
}
.PVM_Header_right .dropdown .dropdown-toggle{
    color: #8d704c;
    padding-right: 20px;
    padding: 0  25px 0 0;
    font-size: 18px;
}
.PVM_Header_right .dropdown .dropdown-toggle:after{
    display: none;
}
.PVM_Header_right .dropdown .dropdown-toggle[aria-expanded="false"]{
    background: url(../images/select01.png);
    background-repeat: no-repeat;
    background-position: right center;
}
.PVM_Header_right .dropdown .dropdown-toggle[aria-expanded="true"]{
    background: url(../images/select02.png);
    background-repeat: no-repeat;
    background-position: right center;
}
.PVM_Header_right .dropdown .dropdown-toggle img{
    vertical-align: text-top;
    margin-right: 5px;
}
.PVM_Header_right .dropdown .dropdown-menu {
        min-width: auto;
    padding: 0 25px;
    margin: 0;
    border: none;
    border-radius: 0;
    box-shadow: 0px 2px 16px 0px rgb(0 0 0 / 20%);
}
.PVM_Header_right .dropdown .dropdown-menu a{
    color: #8d704c;
    font-size: 18px;
    padding: 0;
    border-bottom: 1px solid transparent;
}
.PVM_Header_right .dropdown .dropdown-menu a:hover{
    background: transparent;
    border-bottom: 1px solid #8d704c;
}
.PVM_Header_right .Header_right_book{
    display: inline-block;
}
.Header_right_book a{
    display: block;
    background: #8B6E4A;
    border-radius: 6px;
    color: #fff;
    width: 164px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-family: 'Gill-Regular';
    font-weight: 800;
    text-decoration: none;
}
.Header_right_book a:hover{
    background: #785F41;
}

.Common_title{
    text-transform: uppercase;
    font-size: 48px;
    font-family: 'Gill-Regular';
    font-weight: 400;
    text-align: CENTER;
    color: #8d704c;
}
.inner_Common_title{
    font-size: 36px;
}
.Common_title span{
    display: block;
    padding-top: 60px;
}
.Common_title_bottom{
    position:relative;
    text-align:center;
    width:320px;
    margin:20px auto;
    height:20px;
    font-size: 14px;
  }
.Common_title_bottom::before,.Common_title_bottom::after{
    content:"";
    position:absolute;
    top:50%;
    border:solid 1px #8d704c;
    width:40%;
}
.Common_title_bottom::before{
    left:0;
}
.Common_title_bottom::after{
    right:0;
}
.PVM_index_content p{
    font-size: 16px;
    font-family: 'Gill-light';
    font-weight: 300;
    color: #8d704c;
    line-height: 28px;
}
.PVM_index_content ul{
    padding-left: 24px;
}
.PVM_index_content ul li{
    font-size: 16px;
    font-family: 'Gill-light';
    font-weight: 300;
    color: #8d704c;
    line-height: 28px;
}
.PVM_index_content p:last-child{
 margin: 0;
}
.PVM_index_Carousel{
    padding: 60px 0;
}
.PVM_index_Carousel h2{
    font-size: 36px;
    font-family: 'Gill-Regular';
    font-weight: 400;
    color: #8d704c;
    text-transform: uppercase;
    margin: 0 0 20px 0;
}
.PVM_Banner .carousel-indicators {
    align-items: center;
    margin-bottom: 10px;
}
.PVM_Banner .carousel-indicators li {
    width: 12px;
    height: 12px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    border-radius: 50%;
    opacity: 1;
}
.PVM_Banner .carousel-indicators .active {
    width: 8px;
    height: 8px;
    background: transparent;
    border:2px solid #fff;
}
.PVM_index_Carousel_detail h4{
    font-size: 24px;
    font-family: 'Gill-Medium';
    font-weight: 400;
    color: #8d704c;
    margin: 20px 0;
}
.PVM_index_Carousel_detail p{
    font-size: 14px;
    font-family: 'Gill-Regular';
    font-weight: 400;
    color: #8d704c;
    line-height: 24px;
    margin: 0;
}
.index_content_container{
    margin-top: -129px;
}

.Footer_container{
    padding: 60px 0;
}
.PVM_Footer{
    display: flex;
    justify-content:center;

    font-size: 16px;
    font-family: 'Gill-Regular';
    font-weight: 400;
    color: #8d704c;
    border-bottom:1px solid #8d704c;
    padding-bottom: 20px;
}
.PVM_Footer .address{
    padding: 0 20px;
}
.PVM_Footer .phone{
    padding: 0 20px;
    border-left:1px solid #8d704c;
    border-right:1px solid #8d704c;
}
.PVM_Footer .email{
    padding: 0 20px;
}
.PVM_Copyright{
    display: flex;
    justify-content: space-between;

    font-size: 16px;
    font-family: 'Gill-Regular';
    font-weight: 400;
    color: #8d704c;
    padding-top: 20px;
}
.PVM_Copyright a{
    font-size: 16px;
    font-family: 'Gill-Regular';
    font-weight: 400;
    color: #8d704c;
    padding-right: 10px;
}
.PVM_Booking{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;

    height: 129px;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 2px 16px 0px rgba(0,0,0,0.20); 
    position: relative;
    top: -181px;
    padding: 25px;
    display: flex;
}
.PVM_Booking_data{
    width: 320px;
    margin-right: 10px;
    background-color: #f60;
}
.PVM_Booking_num{
    width: 170px;
    margin-right: 10px;
    background-color: #f60;
}
.PVM_Booking_btn{
    width: 280px;
    background-color: #f60;
}

.icon ul li{
    display: inline-block;
    list-style-type: none;
    padding: 0 1px;
}
.icon ul li a{
    padding: 0;
}
.weixin {
    position: relative;
}
.weixin div.qrcode {
    position: absolute;
    z-index: 99;
    top: -11.5rem;
    right: -3rem;
    width: 8.5rem;
    padding: 10px;
    max-width: none;
    height: 10.5rem;
    transform: scale(0);
    transform-origin: bottom center;
    opacity: 0;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-color: #fff;
    border: 1px solid #a58965;
}
.weixin div.qrcode p {
    margin: 0;
    text-align: center;
    font-size: 12px;
    padding: 0;
    line-height: 25px;
    height: 15px;
    color: #000;
}
.weixin:hover div.qrcode {
    transform: scale(1);
    opacity: 1;
}
.weixin div.qrcode .arrow {
    width: 0;
    height: 0;
    position: absolute;
    right: calc(50% - 10px);
    top: auto;
    bottom: -21px;
    border: 10px solid transparent;
    border-top: 10px solid #a58965;
}
.weixin div.qrcode img {
    width: 100%;
}
@media screen and (min-width:320px) and (max-width:767px) {
    .weixin div.qrcode {
        right: -28px;
    }
    .weixin div.qrcode img {
        width: 100%;
    }
}
.langdropdown{
    position: absolute;
    right: 0;
    top: 0;
}
.langdropdown a{
    padding: 60px 60px 0 0;
    text-transform: uppercase;

    font-size: 18px;
    font-family: 'Gill-Regular';
    font-weight: 400;
    color: #8d704c;
    line-height: 24px;
}
.langdropdown a:hover{
    color: #8d704c;
}
.langdropdown a img{
    vertical-align: top;
}
.langdropdown .dropdown-item {
    padding: 0;
    text-align: center;
    line-height: 30px;
}
.langdropdown .dropdown-item:focus,.langdropdown .dropdown-item:active,.langdropdown .dropdown-item:hover {
    background: rgba(141,112,76,0.4);
    color: #fff;
}
.langdropdown .dropdown-menu{
    min-width: 7.5rem;
    border: 1px solid rgb(141,112,76);
}

.BreadNav{
    font-size: 14px;
    font-family: 'Gill-light';
    font-weight: 300;
    color: #8d704c;
    padding-top: 20px;
}
.BreadNav a{
    font-size: 14px;
    font-family: 'Gill-light';
    font-weight: 300;
    color: #8d704c;
}
.BreadNav i{
    padding: 0 5px;
}

.Offers_list_info{
    font-size: 16px;
    font-family: 'Gill-light';
    font-weight: 300;
    color: #8d704c;
    line-height: 28px; 
    margin-bottom: 20px;
}
.Offers_list .col-md-6{
    margin-top: 40px;
}
.Offerlist_img img{
    width: 100%;
}
.Offerlist_title{
    font-size: 24px;
    font-family: 'Gill-Regular';
    font-weight: 400;
    color: #8b6e4a;
    padding: 20px 20px 0 20px;
}
.Offerlist_time{
    font-size: 16px;
    font-family: 'Gill-light';
    font-weight: 300;
    color: #8d704c;
    padding:0 20px;
}
.Offerlist_more{
    float: right;
}
.Offerlist_more a{
    font-size: 16px;
    font-family: 'Gill-light';
    font-weight: 300;
    color: #8d704c;
}
.Offerlist_more a i{
    padding-left: 5px;
}
.Offerlist_more a:hover{
     border-bottom: 1px solid #8d704c;
     text-decoration: none;
    font-family: 'Gill-Regular';
}

.Room_content{
    width: 100%;
}
.Room_content_img{
    width: 680px;
}
.Room_content_info{
    width: calc(100% - 680px);
}
.Room_wrap{
    padding: 0 15px;
    margin-top: 40px;
}
.Room_wrap:first-child{
    margin-top: 0;
    padding-top: 30px;
}
.Room_content_rightinfo{
    padding-left: 55px;
}
.Room_content_lefthtinfo{
    padding-right: 55px;
}
.Room_content_info_title{
    font-size: 24px;
    line-height: 28px;
    font-family: 'Gill-Regular';
    font-weight: 400;
    color: #8b6e4a;
    padding:0;
}
.Room_content_info_detail{
    font-size: 16px;
    font-family: 'Gill-light';
    font-weight: 300;
    color: #8D704C;
    line-height: 28px;
    margin-bottom: 15px;

    
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}
.Room_content_info_more a{
    color: #8b6e4a;
    text-decoration:underline;
}
.Room_content_info_more a img{
    vertical-align: text-top;
    display: none;
}
.Room_content_info_more a:hover{
    font-family: 'Gill-Regular';
}
.Room_content_info_more a:hover img{
    display: inline;

    transition: all ease .3s;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
}
.Room_content_info_book{
    width: 164px;
    height: 40px;
    opacity: 1;
    background: #8d704c;
    border-radius: 6px;

    font-size: 16px;
    font-family: 'Gill-light';
    font-weight: 700;
    text-align: CENTER;
    color: #ffffff;
    line-height: 40px;
    cursor: pointer;
    margin-top: 60px;
}
.Room_content_info_book a{
    color: #ffffff;
    text-decoration:none;
}
.Room_tablist{
    padding-top: 30px;
}
.Room_tablist .nav-tabs {
    border-bottom:none;
    justify-content: center;
}
.Room_tablist .nav-tabs li{
    padding: 0 15px;
}
.Room_tablist .nav-tabs li a{
    font-family: 'Gill-Regular';
    color: rgba(141, 112, 76, 0.7);
    text-decoration: none;
}
.Room_tablist .nav-tabs li a.active{
    color: rgba(141, 112, 76, 1);
    border-bottom: 1px solid rgba(141, 112, 76, 1);
}
.Offers_list_info ul{
    padding-left: 20px;
}

.location_map{
    margin-bottom: 40px;
}
.location_map:last-child{
    margin-bottom: 0;
}
.location_map img{
    width: 100%;
}
.location_map .location_map_title{
    font-family: 'Gill-Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #8B6E4A;
    padding-bottom: 10px;
}
.location_map .Route_wrap_table {
    padding: 0 15px;
}

.location_map .Route_wrap_thead {
    background-color: #8B6E4A;
    color: #fff;
    font-family: 'Gill-Regular';
}

.location_map .Route_wrap_tbody_tr {
    border-top: 1px solid #ddd;
    font-family: 'Gill-Regular';
}

.location_map .Route_wrap_tbody .Route_wrap_tbody_tr:nth-child(odd) {
    background-color: #FFFFFF;
    color: #000;
}

.location_map .Route_wrap_tbody .Route_wrap_tbody_tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.1);
    color: #000;
}

.location_map .Route_wrap_thead_th {
    padding: 12px 15px;
}

.location_map .Route_wrap_thead_td {
    padding: 17px 15px;
}
.fortabletandmobile{
    display: none;
}
@media screen and (min-width:320px) and (max-width:767px) {
    .fortabletandmobile{
        display: block;
    }
}
.location_map .location_map_info p{
    font-family: 'Gill-light';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #8B6E4A;
}
#filters {
    margin:0 auto;
    padding:0;
    list-style: none;
    text-align: center;
}
#filters li {
    min-width: 70px;
    display: inline-block;
    margin:0 10px;
}
#filters li span {
    display: block;
    padding:0;       
    text-decoration:none;
    color:#8b6e4a;
    cursor: pointer;
}
#filters li span.active {
    border-bottom: 1px solid #8b6e4a;
}
#portfoliolist .portfolio {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    width:100%;
    display:none;
    overflow:hidden;
}
.portfolio-wrapper {
    position: relative !important;
    cursor:pointer;
}
.portfolio img {
    max-width:100%;
    position: relative;
}
.portfolio .label {
    position: absolute;
    width: 100%;
    height:40px;
    bottom:-40px;
}
.portfolio .label-bg {
    width: 100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
}

.portfolio .label-text {
    color:#fff;
    position: relative;
    z-index:500;
    padding:5px 8px;
}
.portfolio .text-category {
    display:block;
    font-size:9px;
}
/* #Tablet (Portrait) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    .container {
        width: 768px; 
    }
}
/*  #Mobile (Portrait) - Note: Design for a width of 320px */
@media only screen and (max-width: 767px) {
    .container { 
        width: 95%; 
    }
    #portfoliolist .portfolio {
        width:48%;
        margin:1%;
    }       
    #ads {
        display:none;
    }
}
/* #Mobile (Landscape) - Note: Design for a width of 480px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container {
        width: 70%;
    }
    #ads {
        display:none;
    }
}
.About_section{

}
.About_section_title{
    font-family: 'Gill-Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #8B6E4A;
    padding-bottom: 10px;
}
.About_section .About_section_info p{
    font-family: 'Gill-light';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #8B6E4A;
    margin-bottom: 0;
}
.About_section .About_section_info p img{
    margin:10px 0;
    width: 100%;
}
.About_section .About_section_info p video{
    margin:10px 0;
    width: 100%;
}
.Site_map_wap{
    width: 80%;
    margin:0 auto;
}
.Site_map_wap .col-md-4{
    padding:30px 0;
}
.Site_map_wap .Site_map_list .Site_map_list_firstnav{
    font-size: 18px;
    font-family: 'Gill-Regular';
    font-weight: 400;
    color: #8d704c;
    line-height: 24px;
}
.Site_map_wap .Site_map_list ul.Site_map_list_secondnav{
    padding:0;
    margin:10px 0;
}
.Site_map_wap .Site_map_list ul.Site_map_list_secondnav li{
    list-style: none;
}
.Site_map_wap .Site_map_list ul.Site_map_list_secondnav li a{
    font-size: 18px;
    font-family: 'Gill-light';
    font-weight: 400;
    color: #8d704c;
    line-height: 24px;
}

.Meta_wrap_content p {
    color: #8D704C;
}
.Meta_wrap_content ul {
    margin-bottom: 20px;
    padding-left: 18px;
    color: #8D704C;
}
.Meta_wrap_content ol {
    margin-bottom: 20px;
    padding-left: 18px;
    color: #8D704C;
}
.Meta_wrap ol li{
    font-size: 16px;
    font-family: 'Gill-light';
    color: #8D704C;
    line-height: 32px;
    margin-bottom: 0;
    list-style: disc;
}

.PVM_index_Carousel .carousel-indicators {
    align-items: center;
    margin-bottom: 10px;
}
.PVM_index_Carousel .carousel-indicators li {
    width: 12px;
    height: 12px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    border-radius: 50%;
    opacity: 1;
}
.PVM_index_Carousel .carousel-indicators .active {
    width: 8px;
    height: 8px;
    background: transparent;
    border:2px solid #fff;
}
.Offers_list_info02 .Offers_list_info02_title{
    font-family: 'Gill-light';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;color: #8B6E4A;
}
.Offers_list_info02 ul{
    margin-bottom: 20px;
}
.Offers_list_info02 ul li{
    font-family: 'Gill-light';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;color: #8B6E4A;
}
.Inner_Booking{
    width: 100%;
    max-width: 1200px;
    margin: 30px auto;
    height: 129px;
    background: #ffffff;
    border-radius: 0;
    box-shadow: 0px 2px 16px 0px rgb(0 0 0 / 20%);
    position: relative;
    padding: 25px;
    display: flex;
}
.Offers_list_info04 .Offers_list_info04_title{
    font-family: 'Gill-Regular';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;color: #8B6E4A;
    margin-bottom: 10px;
}
.Offers_list_info04 ul{
    margin-bottom: 20px;
}
.Offers_list_info04 ul li{
    font-family: 'Gill-light';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;color: #8B6E4A;
}
.Offers_list_info04_innertitle{
    font-family: 'Gill-light';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;color: #8B6E4A;
}
.Room_list_info02 p{
    font-family: 'Gill-light';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #8B6E4A;
    margin-bottom: 0;
}
.Room_list_info02 p span{
    min-width: 120px;
    display: inline-block;
}
.Room_list_info04 .Room_list_info04_title{
    font-family: 'Gill-Regular';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;color: #8B6E4A;
    margin-bottom: 10px;
}
.Room_list_info04 .Room_list_info04_title {
    font-family: 'Gill-Regular';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #8B6E4A;
    margin-bottom: 10px;
}
.Room_list_info04 ul {
    margin-bottom: 20px;
}
.Room_list_info04 ul li {
    font-family: 'Gill-light';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #8B6E4A;
}
.Room_list_info02_info{
    display: flex;
}
.Dining_list_info02 p span {
    min-width: 100px;
    display: inline-block;
}
.Dining_list_info03_btnwrap .Menu_item{
    display: inline-block;
    width: 180px;
    height: 42px;
    top: 0px;
    background: #FFFFFF;
    border: 1px solid #8B6E4A;
    box-sizing: border-box;
    border-radius: 6px;
    text-align: center;
    line-height: 40px;
    color: #8B6E4A;
    text-decoration: none;
    font-family: 'Gill-Regular';
    font-weight: 600;
    font-size: 16px;
}
.Dining_list_info03_btnwrap{
    margin:30px 0;
    font-size: 0;
}
.Dining_list_info03_btnwrap .Menu_item img{
    vertical-align: sub;
    padding:0 10px;
}
.Dining_list_info03_btnwrap .MAKE_SERVATION{
    display: inline-block;
    min-width: 260px;
    height: 42px;
    line-height: 40px;
    background: #8B6E4A;
    text-align: center;
    border-radius: 6px;
    color: #fff;
    text-decoration: none;
    font-family: 'Gill-Regular';
    font-weight: 600;
    font-size: 16px;
    margin-left: 20px;
}